body{
    padding-top: 122px;
}
header .navbar{
    font-size:20px;
}
header .navbar .fa-angle-down{
    margin-left: 0.5rem;
}
header .navbar li{
    padding: 0 0.7rem;
}
header .navbar .fa-magnifying-glass{
    font-size:26px;
}
.bg-img-1
{
    background-image: url(../playstation/img/jumbo-bg.png);
    height: 600px;
    background-size: cover;
    background-position: center;
}
.bg-img-2
{
    background-image: url(../playstation/img/it-takes-two-hero-banner-desktop.jpg);
    height: 600px;
    background-size: cover;
    background-position: center;
}
img{
    width: 100%;
}
.max-width-560{
    max-width: 560px;
}
.f-s-8{
font-size: 8rem;
}
footer ul {
    list-style: none;
}
.w80{
    width: 80px;
}